            h1 {
                color: brown;

               
            }
            .header{
                background-color: rgb(203, 250, 109);
                text-align: center;
           
                
            }
       .grid{
           display: flex;
           flex-wrap: wrap;
           justify-content: space-evenly;
       }
       .footer{
           display: flex;
           justify-content: flex-end;
       }
       p,h2{
           text-align: center;
       }